.columns {
  float: left;
  width: 400px;
}

.post1 {
  font-style: oblique;
  color: pink;
}

.post2 {
  font-style:normal;
  color: blue;
}

.post3 {
  font-weight: bolder;
  color: green;
}

.special {
  font-style:italic;
  font-size: 50px;
}

h1 {
  color: purple;
  font-style:italic;
}

h2 {
  color: red;
}

p {
  width: 50%;
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: orange;
}
